# repo maintenance tooling
# ruff and black are the same, but ruff is recommended because it's faster than black
ruff>=0.1.4,<2.0.0
black>=23.10.1,<25.0.0
flake8>=6.1.0,<8.0.0
mypy>=1.7.0,<3.0.0
isort>=5.12.0,<7.0.0